.back,p {
	background-color: green;
	float: right;
	width: 50%;

}


p{
	background-color: grey;
	float: none;
	background: grey;
}

.left {
	width: 50%;
	float: left;
}

.clear {
	clear: both;
}

.margin {
border: 4px solid red;
margin: 20px;
}
.ph {
float: left;
margin-bottom: 100%;
}

.img {
float: left;
}